*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
}

header{
    width: 100%;
    height: 40px;
    background-color: #EC6227;
    position:fixed;
    top:0;
}
.logo-cont{
    background-color: #EC6227;
    width: 250px;
    height: 55px;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50%;
    transform: translate(50%,20%)
}
.logo-header{
    width: 200px;
    position: relative;
    bottom: 5%;
}
.menu-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 1%;
}

.contenido{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    width: 500px;
    height: 200px;
}

.contenidoC{
    background-color: rgb(156, 156, 156);
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    width: 1000px;
    height: 550px;
}

input{
    margin: 20px;
    border: none;
    font-size: 25px;
    border-radius: 25px;
    width: 500px;
    height: 50px;
}

input:focus{
    outline: none;
}

button{
    border: none;
    width: 200px;
    height: 50px;
    background-color: #B4B4B4;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    transition: all 0.2s;
    margin-top: -1.25%;
    margin-left: 1%;
    position: absolute;
}

.saveC{
    border: none;
    width: 200px;
    height: 50px;
    background-color: #B4B4B4;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    transition: all 0.2s;
    margin-top: -1.25%;
    margin-left: 25%;
    position: absolute;
}

button:hover{
    cursor: pointer;
    font-size: 30px;
    transform: scale(1.1);
}

input[type="checkbox"] {
    appearance: none;
    background-color: #D9D9D9;
    margin: 0;
    font: inherit;
    color: #D9D9D9;
    width: 2em;
    height: 2em;
    border: 0.15em solid currentColor;
    border-radius: 1.15em;
    position: absolute;
    margin-left: 10%;
  }

  input[type="checkbox"]:checked {
    background-color: grey;
    border: 0.25em solid;
    color: #D9D9D9;
  }

  .stockC{
    font-size: 25px;
    display: grid;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.5%;
    margin-left: 5%;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 150px;
    height: 50px;
}

.imgC{
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: white;
    left: 55%;
    top: 4.5%;
}