@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: url(imgs/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 60px 20px 30px 20px;
    height: 620px;
    width: 550px;
    background-color: #7373737a;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.box-login{
    position: absolute;
    width: 90%;
    left: 27px;
    margin-top: -5%;
    transition: .5s ease-in-out; 
}
.box-register{
    position: absolute;
    width: 85%;
    right: -550px;
    margin-top: -5%;
    transition: .5s ease-in-out; 
}
.top-header{
    margin-left: 25%;
    margin-top: -15%;
    position: absolute;
    background-color: #D8652D;
    text-align: center;
    width: 250px;
    height: 10px;
}
.top-header h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px
}
.input-group{
    width: 100%;
}
.input-field{
    margin: 12px 0;
    position: relative;
}
.input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.824);
    backdrop-filter: blur(2px);
    outline: none;
}
.input-field label{
    color: white;
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}

.input-field-Date label{
    position: absolute;
    left: 150px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}


.input-box:focus ~ label,.input-box:valid ~ label{
    top: 2px;
    font-size: 10px;
    color: #D8652D;
    font-weight: 500;
}
.eye-area{
    position: absolute;
    top: 25px;
    right: 25px;
}
.eye-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
i{
    position: absolute;
    color: #444444;
    cursor: pointer;
}
#eye,#eye-2{
    opacity: 1;
}
#eye-slash,#eye-slash-2{
    opacity: 0;
}
.remember{
    display: flex;
    font-size: 13px;
    margin: 12px 0 30px 0;
    color: #000;
}
.check{
    margin-right: 8px;
    width: 14px;
}
.input-submit{
    margin-left: 25%;
    width: 50%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #D8652D;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.145);
    cursor: pointer;
    transition: .4s;
}
.input-submit:hover{
    transform: scale(1.1);
}
.forgot{
    text-align: center;
    font-size: 13px;
    font: 500;
    margin-top: 40px;
}
.forgot a{
    text-decoration: none;
    color: #000;
}
.switch{
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 40px;
    width: 85%;
    height: 50px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    width: 70%;
    border-radius: 10px;
    z-index: 10;
}
#btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 50px;
    background: #cccccd;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}
.logo{
    margin: 10px;
    position: fixed;
    bottom: 0%;
}

p{
    color: white;
    position: absolute;
    margin-top: -25%;
}

.Dregistro{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    border-radius: 25px;
    margin-top: -30%;
    position: absolute;
    width: 350px;
    background-color: #D8652D;
    height: 75px;
    overflow: hidden;
}

.in{
    transition: .5s ease-in-out;
    position: absolute;
    left: 110px;
}

.re{
    transition: .5s ease-in-out; 
    position: absolute;
    left: 350px;
}

.pieRICO{
    z-index: 10;
    position: absolute;
    width: 1925px;
    height: 300px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    background: rgb(236,98,39);
    background: linear-gradient(180deg, rgba(236,98,39,1) 19%, rgba(134,56,22,1) 88%);
}

.sociales{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.ic1,.ic2,.ic3,.ic4{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: all 0.1s;
}


.logito{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: -1%;
}

.linea1{
    position: absolute;
    width: 800px;
    background-color: #202124;
    height: 5px;
    margin-top: 6%;
    margin-right: 60%;
}

.linea2{
    position: absolute;
    width: 800px;
    background-color: #202124;
    height: 5px;
    margin-top: 6%;
    margin-left: 60%;
}

.info{
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 10%;
    font-size: 10px;
}

.cr{
    position: absolute;
    color: white;
    right: 85%;
    bottom: 2.5%;
}

header{
    z-index: 999;
    width: 100%;
    height: 40px;
    background-color: #EC6227;
    position:fixed;
    top:0;
}
.logo-cont{
    background-color: #EC6227;
    width: 250px;
    height: 55px;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50%;
    transform: translate(50%,20%);
    z-index: 999;
}
.logo-header{
    width: 200px;
    position: relative;
    bottom: 5%;
}
.menu-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 1%;
}

.noPIBE{
    opacity: 0;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 85%;
    margin-top: -35%;
    transition: all 0.5s;
}

.noPIBE:hover{
    opacity: 1;
}