.contenido {
    margin-top: 5%;
    width: 100%;
    height: auto;
}

.input-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    margin: 20px;
    border: none;
    font-size: 25px;
    border-radius: 25px;
    width: 500px;
    height: 50px;
    text-align: center;
}

input[type="text"]:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table {
    width: 100%;
    border: 1px solid #EEEEEE;
    background-color: #FFFFFF;
}

.table-header, .table-row {
    display: flex;
    width: 100%;
    padding: 12px 0;
}

.table-header {
    background-color: #333;
}

.header__item, .table-data {
    flex: 1;
    text-align: center;
    color: #FFF;
    padding: 8px;
}

.table-data {
    background-color: #F5F5F5;
    border-bottom: 1px solid #CCC;
    color: #333;
}

.table-row:nth-child(odd) .table-data {
    background-color: #EEEEEE;
}

.table-row:nth-child(even) .table-data {
    background-color: #FFFFFF;
}

.filter__link {
    color: #FFF;
    text-decoration: none;
}

#noComicsMessage {
    color: red;
    text-align: center;
    display: none;
}